<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>category</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>script</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>suffix</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>decompositionBase</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>uni1E0C</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>uni1EB8</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>uni0122</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>uni013B</string>
		<string>Lcaron</string>
		<string>uni1E36</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>uni0145</string>
		<string>Ncaron</string>
		<string>uni1E44</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>uni1ECC</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>uni0156</string>
		<string>Rcaron</string>
		<string>uni1E5A</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>uni0218</string>
		<string>uni1E62</string>
		<string>T</string>
		<string>uni0162</string>
		<string>Tcaron</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uni1EE4</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>uni1E92</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>uni018F</string>
		<string>Alpha</string>
		<string>Alphatonos</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Epsilontonos</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Etatonos</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Omicrontonos</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>Omegatonos</string>
		<string>Omega</string>
		<string>uni0410</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0415</string>
		<string>uni0418</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni042F</string>
		<string>Eszett</string>
		<string>mu</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>uni1E0D</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>uni1EB9</string>
		<string>uni1EBD</string>
		<string>f</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>uni0123</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>uni1ECB</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>uni01F0</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcedilla</string>
		<string>lcaron</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>uni0146</string>
		<string>ncaron</string>
		<string>uni1E45</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>uni1ECD</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>uni0157</string>
		<string>rcaron</string>
		<string>uni1E5B</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>uni0219</string>
		<string>uni1E63</string>
		<string>t</string>
		<string>uni0163</string>
		<string>tcaron</string>
		<string>uni021B</string>
		<string>uni1E6D</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>uni1EE5</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>uni1E93</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>napostrophe</string>
		<string>eng</string>
		<string>oe</string>
		<string>tbar</string>
		<string>longs</string>
		<string>florin</string>
		<string>uni0237</string>
		<string>uni0259</string>
		<string>a.alt</string>
		<string>agrave.alt</string>
		<string>aacute.alt</string>
		<string>acircumflex.alt</string>
		<string>atilde.alt</string>
		<string>adieresis.alt</string>
		<string>aring.alt</string>
		<string>amacron.alt</string>
		<string>abreve.alt</string>
		<string>aogonek.alt</string>
		<string>g.alt</string>
		<string>gcircumflex.alt</string>
		<string>gbreve.alt</string>
		<string>l.alt</string>
		<string>lacute.alt</string>
		<string>lcedilla.alt</string>
		<string>lcaron.alt</string>
		<string>u.alt</string>
		<string>ugrave.alt</string>
		<string>uacute.alt</string>
		<string>ucircumflex.alt</string>
		<string>udieresis.alt</string>
		<string>utilde.alt</string>
		<string>umacron.alt</string>
		<string>ubreve.alt</string>
		<string>uring.alt</string>
		<string>uhungarumlaut.alt</string>
		<string>uogonek.alt</string>
		<string>uni1EE5.alt</string>
		<string>y.alt</string>
		<string>yacute.alt</string>
		<string>ydieresis.alt</string>
		<string>ycircumflex.alt</string>
		<string>ygrave.alt</string>
		<string>ytilde.alt</string>
		<string>ldot.alt</string>
		<string>lslash.alt</string>
		<string>alpha</string>
		<string>alphatonos</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>epsilontonos</string>
		<string>zeta</string>
		<string>eta</string>
		<string>etatonos</string>
		<string>theta</string>
		<string>iota</string>
		<string>iotadieresistonos</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>omicrontonos</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>upsilondieresistonos</string>
		<string>upsilondieresis</string>
		<string>upsilontonos</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>omegatonos</string>
		<string>uni0430</string>
		<string>uni0435</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni02BC</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>uni02CA</string>
		<string>uni02CB</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>dotbelowcomb</string>
		<string>uni0326</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>four.alt</string>
		<string>zero.d</string>
		<string>one.d</string>
		<string>two.d</string>
		<string>three.d</string>
		<string>four.d</string>
		<string>five.d</string>
		<string>six.d</string>
		<string>seven.d</string>
		<string>eight.d</string>
		<string>nine.d</string>
		<string>zero.n</string>
		<string>one.n</string>
		<string>two.n</string>
		<string>three.n</string>
		<string>four.n</string>
		<string>five.n</string>
		<string>six.n</string>
		<string>seven.n</string>
		<string>eight.n</string>
		<string>nine.n</string>
		<string>zero.tab</string>
		<string>one.tab</string>
		<string>two.tab</string>
		<string>three.tab</string>
		<string>four.tab</string>
		<string>five.tab</string>
		<string>six.tab</string>
		<string>seven.tab</string>
		<string>eight.tab</string>
		<string>nine.tab</string>
		<string>zero.zero</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni00B9</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>uni2080.sub</string>
		<string>uni2081.sub</string>
		<string>uni2082.sub</string>
		<string>uni2083.sub</string>
		<string>uni2084.sub</string>
		<string>uni2085.sub</string>
		<string>uni2086.sub</string>
		<string>uni2087.sub</string>
		<string>uni2088.sub</string>
		<string>uni2089.sub</string>
		<string>uni2070.sup</string>
		<string>uni2074.sup</string>
		<string>uni2075.sup</string>
		<string>uni2076.sup</string>
		<string>uni2077.sup</string>
		<string>uni2078.sup</string>
		<string>uni2079.sup</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>uni2010</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2015</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenleft.case</string>
		<string>bracketleft.case</string>
		<string>braceleft.case</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>parenright.case</string>
		<string>bracketright.case</string>
		<string>braceright.case</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quotedblleft</string>
		<string>guilsinglleft</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>anoteleia</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>uni2031</string>
		<string>minute</string>
		<string>second</string>
		<string>uni2034</string>
		<string>uni203D</string>
		<string>at.alt</string>
		<string>at.alt.case</string>
		<string>at.case</string>
		<string>exclamdown.case</string>
		<string>questiondown.case</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>fraction</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowboth</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>uni222C</string>
		<string>uni222D</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>Euro</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>tonos</string>
		<string>dieresistonos</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>trademark</string>
		<string>arrowupdn</string>
		<string>lozenge</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2000</string>
		<string>uni2001</string>
		<string>uni2002</string>
		<string>uni2003</string>
		<string>uni2004</string>
		<string>uni2005</string>
		<string>uni2006</string>
		<string>uni2007</string>
		<string>uni2008</string>
		<string>uni2009</string>
		<string>uni200A</string>
		<string>uni00AD</string>
		<string>uni200B</string>
		<string>uniFEFF</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>.notdef</string>
		<string>nonmarkingreturn</string>
		<string>onesuperior</string>
		<string>threesuperior</string>
		<string>twosuperior</string>
		<string>gcommaaccent.alt</string>
		<string>gdotabove.alt</string>
		<string>ff.lig</string>
		<string>ffi.lig</string>
		<string>fi.lig</string>
		<string>fj.lig</string>
		<string>fl.lig</string>
		<string>ft.lig</string>
	</array>
</dict>
</plist>
