<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Alpha</key>
	<string>Alpha_.glif</string>
	<key>Alphatonos</key>
	<string>Alphatonos_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Beta</key>
	<string>Beta_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>Chi</key>
	<string>Chi_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Epsilon</key>
	<string>Epsilon_.glif</string>
	<key>Epsilontonos</key>
	<string>Epsilontonos_.glif</string>
	<key>Eszett</key>
	<string>Eszett_.glif</string>
	<key>Eta</key>
	<string>Eta_.glif</string>
	<key>Etatonos</key>
	<string>Etatonos_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gamma</key>
	<string>Gamma_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Iota</key>
	<string>Iota_.glif</string>
	<key>Iotadieresis</key>
	<string>Iotadieresis_.glif</string>
	<key>Iotatonos</key>
	<string>Iotatonos_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kappa</key>
	<string>Kappa_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lambda</key>
	<string>Lambda_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mu</key>
	<string>Mu_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Nu</key>
	<string>Nu_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Omegatonos</key>
	<string>Omegatonos_.glif</string>
	<key>Omicron</key>
	<string>Omicron_.glif</string>
	<key>Omicrontonos</key>
	<string>Omicrontonos_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Phi</key>
	<string>Phi_.glif</string>
	<key>Pi</key>
	<string>Pi_.glif</string>
	<key>Psi</key>
	<string>Psi_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rho</key>
	<string>Rho_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Sigma</key>
	<string>Sigma_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tau</key>
	<string>Tau_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Theta</key>
	<string>Theta_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Upsilon</key>
	<string>Upsilon_.glif</string>
	<key>Upsilondieresis</key>
	<string>Upsilondieresis_.glif</string>
	<key>Upsilontonos</key>
	<string>Upsilontonos_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Xi</key>
	<string>Xi_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>Zeta</key>
	<string>Zeta_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.alt</key>
	<string>abreve.alt.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>alpha</key>
	<string>alpha.glif</string>
	<key>alphatonos</key>
	<string>alphatonos.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.alt</key>
	<string>amacron.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anoteleia</key>
	<string>anoteleia.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.alt</key>
	<string>aogonek.alt.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.alt</key>
	<string>at.alt.glif</string>
	<key>at.alt.case</key>
	<string>at.alt.case.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>beta</key>
	<string>beta.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chi</key>
	<string>chi.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>delta</key>
	<string>delta.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresistonos</key>
	<string>dieresistonos.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.d</key>
	<string>eight.d.glif</string>
	<key>eight.n</key>
	<string>eight.n.glif</string>
	<key>eight.tab</key>
	<string>eight.tab.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>epsilon</key>
	<string>epsilon.glif</string>
	<key>epsilontonos</key>
	<string>epsilontonos.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eta</key>
	<string>eta.glif</string>
	<key>etatonos</key>
	<string>etatonos.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>ff.lig</key>
	<string>ff.lig.glif</string>
	<key>ffi.lig</key>
	<string>ffi.lig.glif</string>
	<key>fi.lig</key>
	<string>fi.lig.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.d</key>
	<string>five.d.glif</string>
	<key>five.n</key>
	<string>five.n.glif</string>
	<key>five.tab</key>
	<string>five.tab.glif</string>
	<key>fj.lig</key>
	<string>fj.lig.glif</string>
	<key>fl.lig</key>
	<string>fl.lig.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt</key>
	<string>four.alt.glif</string>
	<key>four.d</key>
	<string>four.d.glif</string>
	<key>four.n</key>
	<string>four.n.glif</string>
	<key>four.tab</key>
	<string>four.tab.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>ft.lig</key>
	<string>ft.lig.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>gamma</key>
	<string>gamma.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.alt</key>
	<string>gbreve.alt.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcircumflex.alt</key>
	<string>gcircumflex.alt.glif</string>
	<key>gcommaaccent.alt</key>
	<string>gcommaaccent.alt.glif</string>
	<key>gdotabove.alt</key>
	<string>gdotabove.alt.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iota</key>
	<string>iota.glif</string>
	<key>iotadieresis</key>
	<string>iotadieresis.glif</string>
	<key>iotadieresistonos</key>
	<string>iotadieresistonos.glif</string>
	<key>iotatonos</key>
	<string>iotatonos.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kappa</key>
	<string>kappa.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.alt</key>
	<string>l.alt.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.alt</key>
	<string>lacute.alt.glif</string>
	<key>lambda</key>
	<string>lambda.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.alt</key>
	<string>lcaron.alt.glif</string>
	<key>lcedilla</key>
	<string>lcedilla.glif</string>
	<key>lcedilla.alt</key>
	<string>lcedilla.alt.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldot.alt</key>
	<string>ldot.alt.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.alt</key>
	<string>lslash.alt.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.d</key>
	<string>nine.d.glif</string>
	<key>nine.n</key>
	<string>nine.n.glif</string>
	<key>nine.tab</key>
	<string>nine.tab.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nu</key>
	<string>nu.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omega</key>
	<string>omega.glif</string>
	<key>omegatonos</key>
	<string>omegatonos.glif</string>
	<key>omicron</key>
	<string>omicron.glif</string>
	<key>omicrontonos</key>
	<string>omicrontonos.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.d</key>
	<string>one.d.glif</string>
	<key>one.n</key>
	<string>one.n.glif</string>
	<key>one.tab</key>
	<string>one.tab.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>psi</key>
	<string>psi.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quotereversed</key>
	<string>quotereversed.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rho</key>
	<string>rho.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.d</key>
	<string>seven.d.glif</string>
	<key>seven.n</key>
	<string>seven.n.glif</string>
	<key>seven.tab</key>
	<string>seven.tab.glif</string>
	<key>sigma</key>
	<string>sigma.glif</string>
	<key>sigma1</key>
	<string>sigma1.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.d</key>
	<string>six.d.glif</string>
	<key>six.n</key>
	<string>six.n.glif</string>
	<key>six.tab</key>
	<string>six.tab.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tau</key>
	<string>tau.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>theta</key>
	<string>theta.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.d</key>
	<string>three.d.glif</string>
	<key>three.n</key>
	<string>three.n.glif</string>
	<key>three.tab</key>
	<string>three.tab.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tonos</key>
	<string>tonos.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.d</key>
	<string>two.d.glif</string>
	<key>two.n</key>
	<string>two.n.glif</string>
	<key>two.tab</key>
	<string>two.tab.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.alt</key>
	<string>u.alt.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.alt</key>
	<string>uacute.alt.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ubreve.alt</key>
	<string>ubreve.alt.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.alt</key>
	<string>ucircumflex.alt.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.alt</key>
	<string>udieresis.alt.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.alt</key>
	<string>ugrave.alt.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uhungarumlaut.alt</key>
	<string>uhungarumlaut.alt.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.alt</key>
	<string>umacron.alt.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni00B2</key>
	<string>uni00B2_.glif</string>
	<key>uni00B3</key>
	<string>uni00B3_.glif</string>
	<key>uni00B9</key>
	<string>uni00B9_.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni018F</key>
	<string>uni018F_.glif</string>
	<key>uni01F0</key>
	<string>uni01F0_.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni0237</key>
	<string>uni0237.glif</string>
	<key>uni0259</key>
	<string>uni0259.glif</string>
	<key>uni02BC</key>
	<string>uni02BC_.glif</string>
	<key>uni02C9</key>
	<string>uni02C9_.glif</string>
	<key>uni02CA</key>
	<string>uni02CA_.glif</string>
	<key>uni02CB</key>
	<string>uni02CB_.glif</string>
	<key>uni030F</key>
	<string>uni030F_.glif</string>
	<key>uni0311</key>
	<string>uni0311.glif</string>
	<key>uni0312</key>
	<string>uni0312.glif</string>
	<key>uni0315</key>
	<string>uni0315.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni0394</key>
	<string>uni0394.glif</string>
	<key>uni03A9</key>
	<string>uni03A9_.glif</string>
	<key>uni03BC</key>
	<string>uni03BC_.glif</string>
	<key>uni0410</key>
	<string>uni0410.glif</string>
	<key>uni0412</key>
	<string>uni0412.glif</string>
	<key>uni0413</key>
	<string>uni0413.glif</string>
	<key>uni0415</key>
	<string>uni0415.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni041C</key>
	<string>uni041C_.glif</string>
	<key>uni041D</key>
	<string>uni041D_.glif</string>
	<key>uni041E</key>
	<string>uni041E_.glif</string>
	<key>uni041F</key>
	<string>uni041F_.glif</string>
	<key>uni0420</key>
	<string>uni0420.glif</string>
	<key>uni0421</key>
	<string>uni0421.glif</string>
	<key>uni0422</key>
	<string>uni0422.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0425</key>
	<string>uni0425.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0430</key>
	<string>uni0430.glif</string>
	<key>uni0435</key>
	<string>uni0435.glif</string>
	<key>uni0437</key>
	<string>uni0437.glif</string>
	<key>uni043E</key>
	<string>uni043E_.glif</string>
	<key>uni0440</key>
	<string>uni0440.glif</string>
	<key>uni0441</key>
	<string>uni0441.glif</string>
	<key>uni0442</key>
	<string>uni0442.glif</string>
	<key>uni0443</key>
	<string>uni0443.glif</string>
	<key>uni0444</key>
	<string>uni0444.glif</string>
	<key>uni0445</key>
	<string>uni0445.glif</string>
	<key>uni1E0C</key>
	<string>uni1E0C_.glif</string>
	<key>uni1E0D</key>
	<string>uni1E0D_.glif</string>
	<key>uni1E24</key>
	<string>uni1E24_.glif</string>
	<key>uni1E25</key>
	<string>uni1E25_.glif</string>
	<key>uni1E36</key>
	<string>uni1E36_.glif</string>
	<key>uni1E44</key>
	<string>uni1E44_.glif</string>
	<key>uni1E45</key>
	<string>uni1E45_.glif</string>
	<key>uni1E5A</key>
	<string>uni1E5A_.glif</string>
	<key>uni1E5B</key>
	<string>uni1E5B_.glif</string>
	<key>uni1E62</key>
	<string>uni1E62_.glif</string>
	<key>uni1E63</key>
	<string>uni1E63_.glif</string>
	<key>uni1E6C</key>
	<string>uni1E6C_.glif</string>
	<key>uni1E6D</key>
	<string>uni1E6D_.glif</string>
	<key>uni1E92</key>
	<string>uni1E92_.glif</string>
	<key>uni1E93</key>
	<string>uni1E93_.glif</string>
	<key>uni1EB8</key>
	<string>uni1EB8_.glif</string>
	<key>uni1EB9</key>
	<string>uni1EB9_.glif</string>
	<key>uni1EBC</key>
	<string>uni1EBC_.glif</string>
	<key>uni1EBD</key>
	<string>uni1EBD_.glif</string>
	<key>uni1ECA</key>
	<string>uni1ECA_.glif</string>
	<key>uni1ECB</key>
	<string>uni1ECB_.glif</string>
	<key>uni1ECC</key>
	<string>uni1ECC_.glif</string>
	<key>uni1ECD</key>
	<string>uni1ECD_.glif</string>
	<key>uni1EE4</key>
	<string>uni1EE4_.glif</string>
	<key>uni1EE5</key>
	<string>uni1EE5_.glif</string>
	<key>uni1EE5.alt</key>
	<string>uni1EE5_.alt.glif</string>
	<key>uni1EF8</key>
	<string>uni1EF8_.glif</string>
	<key>uni2000</key>
	<string>uni2000.glif</string>
	<key>uni2001</key>
	<string>uni2001.glif</string>
	<key>uni2002</key>
	<string>uni2002.glif</string>
	<key>uni2003</key>
	<string>uni2003.glif</string>
	<key>uni2004</key>
	<string>uni2004.glif</string>
	<key>uni2005</key>
	<string>uni2005.glif</string>
	<key>uni2006</key>
	<string>uni2006.glif</string>
	<key>uni2007</key>
	<string>uni2007.glif</string>
	<key>uni2008</key>
	<string>uni2008.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200A</key>
	<string>uni200A_.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>uni2015</key>
	<string>uni2015.glif</string>
	<key>uni2031</key>
	<string>uni2031.glif</string>
	<key>uni2034</key>
	<string>uni2034.glif</string>
	<key>uni203D</key>
	<string>uni203D_.glif</string>
	<key>uni2070.sup</key>
	<string>uni2070.sup.glif</string>
	<key>uni2074.sup</key>
	<string>uni2074.sup.glif</string>
	<key>uni2075.sup</key>
	<string>uni2075.sup.glif</string>
	<key>uni2076.sup</key>
	<string>uni2076.sup.glif</string>
	<key>uni2077.sup</key>
	<string>uni2077.sup.glif</string>
	<key>uni2078.sup</key>
	<string>uni2078.sup.glif</string>
	<key>uni2079.sup</key>
	<string>uni2079.sup.glif</string>
	<key>uni2080.sub</key>
	<string>uni2080.sub.glif</string>
	<key>uni2081.sub</key>
	<string>uni2081.sub.glif</string>
	<key>uni2082.sub</key>
	<string>uni2082.sub.glif</string>
	<key>uni2083.sub</key>
	<string>uni2083.sub.glif</string>
	<key>uni2084.sub</key>
	<string>uni2084.sub.glif</string>
	<key>uni2085.sub</key>
	<string>uni2085.sub.glif</string>
	<key>uni2086.sub</key>
	<string>uni2086.sub.glif</string>
	<key>uni2087.sub</key>
	<string>uni2087.sub.glif</string>
	<key>uni2088.sub</key>
	<string>uni2088.sub.glif</string>
	<key>uni2089.sub</key>
	<string>uni2089.sub.glif</string>
	<key>uni20B9</key>
	<string>uni20B9_.glif</string>
	<key>uni20BA</key>
	<string>uni20BA_.glif</string>
	<key>uni222C</key>
	<string>uni222C_.glif</string>
	<key>uni222D</key>
	<string>uni222D_.glif</string>
	<key>uniFEFF</key>
	<string>uniFEFF_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uogonek.alt</key>
	<string>uogonek.alt.glif</string>
	<key>upsilon</key>
	<string>upsilon.glif</string>
	<key>upsilondieresis</key>
	<string>upsilondieresis.glif</string>
	<key>upsilondieresistonos</key>
	<string>upsilondieresistonos.glif</string>
	<key>upsilontonos</key>
	<string>upsilontonos.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uring.alt</key>
	<string>uring.alt.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>utilde.alt</key>
	<string>utilde.alt.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>xi</key>
	<string>xi.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.alt</key>
	<string>yacute.alt.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ycircumflex.alt</key>
	<string>ycircumflex.alt.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.alt</key>
	<string>ydieresis.alt.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>ygrave.alt</key>
	<string>ygrave.alt.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>ytilde.alt</key>
	<string>ytilde.alt.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.d</key>
	<string>zero.d.glif</string>
	<key>zero.n</key>
	<string>zero.n.glif</string>
	<key>zero.tab</key>
	<string>zero.tab.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
	<key>zeta</key>
	<string>zeta.glif</string>
</dict>
</plist>
